# Ignore common file types
*.tmp
*.log
*.bak
*.swp
*.old
Thumbs.db

# Ignore common backup file extensions
*.zip
*.rar
*.7z
*.tar.gz
*.tar.bz2
*.gz
*.bz2

# Ignore temporary files
*.tmp
~*

# Ignore cache directories
/node_modules/
/.cache/
/target/
/build/
/dist/
/temp/
/Arquivos/

# Ignore system files (Windows)
*.exe
*.dll
*.ini
*.log
*.tmp

# Ignore system files (macOS)
.DS_Store

# Ignore IDE specific files
.idea/
*.suo
*.csproj.user
*.sln.dot
*.user

#Ignore specific file types (adjust as needed)
*.pdf #If you are generating pdf files here, you may want to uncomment this
*.docx
*.doc
*.xlsx
*.xls
*.pptx
*.txt


# Add more patterns as needed...

